*{ margin:0; padding:0; box-sizing:border-box; font-family: 'Karla'; font-weight: 500;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.banner {
    border: 0%;
    margin: 0%;
    padding:0% ; 
    display: flex;
    justify-content:center ; 
    align-items: center ; 
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;  
}

.logo {
    margin-right: 80px;
    width: auto ;
    height:110px ;
}

.menu.active {
    display: flex;
}

.menu a {
    display: inline-block;
    text-decoration:none;
    padding: 20px 30px;
    font-size:18px;
    color: white;
    letter-spacing: 3px;
    font-family:'Karla';
}

.menu a:hover {
    color: rgb(138, 14, 107);
    transform: scale(1.1);
    transition: all 0.1s ease ;
}  

.menu ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    gap: 15px; 
    justify-content:center; 
}  

.hamburger-btn {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-btn .line {
    width: 30px;
    height: 3px;
    background-color: #ffffff; /* Cambia el color según tu diseño */
    border-radius: 10px;
}
/* -----------------1.- SECCION CARRUSEL------------------*/

.exposiciones-carrusel{
    margin-top: 100px;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.carrusel { 
   display: flex;           
   width: 600%; 
}

.carrusel img {
   width: 100vw;                         
   height: 600px;                         
   z-index: 1;
   min-width: 100%;
   
}


.carrusel-item {
   height: 600px;
   position: relative;
   text-decoration: none;
   display: block;
   overflow: hidden;  
   object-fit: cover;
   min-width: 100%;
} 

.carrusel-item::before {
   content: ""; 
   top: 0;
   left: 0;
   width: 100vw;
   height: 600px;
   position: absolute;
   background-color: black;
   z-index: 2;
   opacity: 0.2; 
} 

.carrusel-item img{
   position: relative; 
   width: 100%;
   height: auto;
   object-fit: cover;
   z-index: 1;
   transform: scale(1.1);
   transition: transform 7.5s ease-out;
   
}

.carrusel-titulo {
   text-decoration: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 50px;
   z-index: 3;
   letter-spacing: 6px;
   font-family: 'Karla';
   font-weight: 400;
   text-align: center;
   justify-content: center; 
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.967);   

}

.carrusel-titulo:hover {
    color: rgb(93, 4, 71);
    transition: all 0.1s ease ;
   
}  

.carrusel-subtitulo {
   text-decoration: none;
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(189, 186, 186);
   font-size: 30px;
   z-index: 3;
   letter-spacing: 6px;
   font-family: 'Karla';
   text-align: center;
   justify-content: center; 
   text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.912);   
}

.carrusel-subtitulo:hover {
    color: rgb(93, 4, 71);
    transition: all 0.1s ease ;
   
}  


.exposiciones-carrusel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s;
 }

.exposiciones-carrusel button:hover {
    background: rgba(0, 0, 0, 0.9);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
} 

.seccion-origen{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
   
}

/* --------------2. SECCION ORIGEN--------------*/

.origen-mg {
  
    display: flex;
    max-width: 1100px;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 60px 20px;
    gap: 80px;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 30px;
}

.titulo-origen h1{
    text-align: center;
    justify-content: center;
    line-height: 50px;
    font-size: 40px;
}


/*----------------3. SECCIONES PINTURA, FOTOGRAFIA, OBRAS PERSONALIZADAS------------*/

.tituloflexcontainer h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Karla';
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 60px ;
    
}

.flexcontainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.flexcontainer div { 
    position: relative;
    width: 420px;
    height: 400px;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 100px;
    overflow: hidden;
    
}
.flexcontainer a{
   
   text-decoration: none; 
   color: white;
}

.flexcontainer a:hover img{
    transform: scale(1.03);
}

.pintura-texto, .fotografia-texto, .obras-personalizadas-texto{
    position: absolute;
    display: block;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: 'Karla';
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 35px 0 35px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align:center;
    transition: transform 0.4s ease-in-out;

}
.pintura img, .fotografia img, .obras-personalizadas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    transition: transform 0.6s ease-in-out;
}

.pintura-texto:hover, .fotografia-texto:hover, .obras-personalizadas-texto:hover{
    
    transform: translateY(-30px);
    background-color: rgba(173, 8, 99, 0.8);
}

/*----------------4. SECCION FILOSOFIA---------------*/


.nuestrafilosofia{
    position: relative;
    z-index: 99;
    background-color: white;
    margin-bottom: 150px;
}
.nuestrafilosofia h1 {
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Karla';
    font-weight: 500;
    color: black;
    font-size: 30px;
}

.seccionfilosofia {
    display:flex;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;   
}

.seccionfilosofia article {
    padding: 25px;
    width: 320px;
    height: 280px;
    align-items: center;  
}

.seccionfilosofia h2 {
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: black;
    
}
.seccionfilosofia h3 {

    font-family:'Karla';
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    
}

.icono-tarjeta{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
.icono-tarjeta i{
    font-size: 2.2em;
}

/*-------------- 5. SECCIONES CUADROS*--------------*/

.secciones-cuadros{
    display: flex  ;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 30px;
    width: 100vw;
    height: 450px;;
    margin: 0 auto;
    margin-top: 60px;
    line-height: 25px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("img/souvenir8.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.texto-secciones h2 {
    font-family: 'Karla';
    font-size: 30px;
    font-weight: 600;
    color: white;
    line-height: 35px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.texto-secciones p{
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);  
}

.texto-secciones{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    align-items: center;
    text-align: center;
    padding: 35px;  
}


.texto-secciones button{
    
    background: rgba(0, 0, 0, 0.766);
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;

}

.texto-secciones button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.426);
}


/*------------6.SECCION ARTISTAS------------*/

.nuestros-artistas{

    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100vw;
    align-items: center;
    text-align: center;
    margin-top: 50PX;
}

.texto-artistas{
   font-family: 'Karla';
   font-size: 15px;
   font-weight: 500;
   color: #000000;
   line-height: 40px;
   width: 950px;
}

.texto-artistas button{
    background: rgba(0, 0, 0, 0.766);
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

.texto-artistas button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.426);  
}

 /* FOOTER */
.site-footer {
     width: 100vw;
     background: black; color:white;
     margin-top: 30px;
     overflow: hidden;
     box-sizing: border-box;       
}
.footer-grid {
    background-color: black;
    padding: 20px 0 ;
    justify-content: center;
    display: flex;
    gap:150px;
    max-width:1200px; margin:auto;
    line-height: 35px;
}
        
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
        
.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
        
.footer-links a:hover {
    color:blueviolet;
}
        

.footer-contacto {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 20px;
}

.boton-contacto {
    text-decoration: none;
    color: white; 
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.boton-contacto i {
    font-size: 1.5rem; /* Tamaño del icono */
}

.fa-whatsapp { color: #08943b; }
.fa-instagram { color: #aa1f4d; }
.fa-envelope { color: #ffffff; }
        
.footer-bottom {
   max-width: 1200px;
   margin: 25px auto 0 auto;
   padding: 20px;
   border-top: 1px solid rgba(255,255,255,0.1);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
            
}
        
.footer-bottom-links {
   display: flex;
   gap: 1.5rem;
}
        
.footer-bottom-links a {
   color: white;
   text-decoration: none;
   font-size: 0.9rem;
   transition: 0.3s;
}
        
.footer-bottom-links a:hover {
   color: blueviolet;
}
        
.copyright {
   font-size: 0.9rem;
   color: rgba(255,255,255,0.7);
}




/* RESPONSIVE */

        
@media (max-width: 768px) {

.hamburger-btn {
        display: flex; /* Aparece en móviles */
        z-index:1001;
    }

.menu {
        display: none; /* Escondemos el menú por defecto */
        position: static;
        top: 60px; /* Ajusta según el alto de tu header */
        left: 0;
        width: 100%;
        background-color: #1a1a1a;
        flex-direction: column;
        text-align: center;
        z-index: 999;
    }

.menu.active {
        display: flex; /* Se muestra cuando activamos 'active' con JS */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: black;
    }

.menu ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

.menu ul li {
        padding: 0;
        border-bottom: 1px solid #eee;
    }

            
.footer-bottom {
   flex-direction: column;
   text-align: center;
}
            
.footer-bottom-links {
   justify-content: center;
}
            
.hero h1 {
  font-size: 2.2rem;
}
            
.hero p {
    font-size: 1.1rem;
 }
}

